@{
    ViewData["Title"] = "Home Page";
}
@model List<SPDest>

<div class="text-center">
<table>
    <thead>
        <tr>
            <th>Descr</th>
            <th>sDP1</th>
            <th>sDP2</th>
            <th>sDP4</th>
            <th>sDP6</th>
            <th>sDP7</th>
            <th>sDP8</th>
            <th>sDP9</th>
            <th>sDP10</th>
            <th>sDP255</th>
            <th>sDPBegYear</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Descr</td>
                <td>@item.sDP1</td>
                <td>@item.sDP2</td>
                <td>@item.sDP4</td>
                <td>@item.sDP6</td>
                <td>@item.sDP7</td>
                <td>@item.sDP8</td>
                <td>@item.sDP9</td>
                <td>@item.sDP10</td>
                <td>@item.sDP255</td>
                <td>@item.sDPBegYear</td>
            </tr>
        }
    </tbody>
</table>
</div>
